.inputs-container {
    display: flex;
    justify-content: flex-end;
  .btn-container {
    text-align: right;
    .btn-import {
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0 1rem;
    }
    #custom-file-input {
      color: transparent;
      width: 14rem;
      margin: 0 1rem;
      &:focus {
        outline: none;
      }
    }
    #custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }
    #custom-file-input::before {
      content: "Select some files";
      display: inline-block;
      background: linear-gradient(top, #f9f9f9, #e3e3e3);
      border: 1px solid #343a40;
      color: #343a40;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 1.4rem;
      margin: -1rem -1rem;
    }
    #custom-file-input::after {
      display: none;
    }
    #custom-file-input:hover::before {
      border-color: black;
    }
    #custom-file-input:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
  }
}
